.elementor-5128 .elementor-element.elementor-element-470888f{--divider-border-style:solid;--divider-border-color:#000;--divider-border-width:1px;}.elementor-5128 .elementor-element.elementor-element-470888f .elementor-divider-separator{width:100%;}.elementor-5128 .elementor-element.elementor-element-470888f .elementor-divider{padding-top:15px;padding-bottom:15px;}.elementor-5128 .elementor-element.elementor-element-470888f > .elementor-widget-container{margin:40px 0px -20px 0px;}.elementor-5128 .elementor-element.elementor-element-8ed302e > .elementor-widget-container{margin:0px 0px 0px 0px;}/* Start custom CSS for html, class: .elementor-element-9a2e45f */.options {
    display: flex;
}
.options .option.--is-active {
    border-bottom: 3px solid red;
    border-right: 0;
}
.option.--is-active:hover {
    width: 58px;
}
.option:hover {
    border-left: 0;
    width: 55px;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-8ed302e */.info {
    padding: 0;
    justify-content: flex-start;
}
.controls {
    position: relative;
}/* End custom CSS */
/* Start custom CSS */.notification-added-to-cart {
    display: none;
}/* End custom CSS */